# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\yy\IntelliJ IDEA 2020.3.3\com.test.SpringTest1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
